
@{
    ViewData["Title"] = "BusView";
}
<table style="border:1px solid #0094ff;width:100%">
    <thead>
        <tr style="height:30px;background-color:#edeaea">
            <td style="width:100px;text-align:center">店编号</td>
            <td>店名称</td>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (RS.Core.DynamicObj item in ViewBag.Items)
            {
        <tr style="height:25px;">
            <td>@(item.Get<string>("ShopCode"))</td>
            <td>@(item.Get<string>("ShopName"))</td>
        </tr>
                }
            }
    </tbody>
</table>

