
@{
    ViewData["Title"] = "EduIndex";
}

<h2>教育系统入口</h2>


<a asp-area="" asp-controller="Home" asp-action="TeaLogin">老师登录</a>
<a asp-area="" asp-controller="Home" asp-action="StuLogin">学生登录</a>
<a asp-area="" asp-controller="Home" asp-action="Login">管理员登录</a>


